/*renderする<div>タグ内で行うことを以下に記載*/
/*１．ブラウザのウィンドウの高さの変化によって、全てのメッセージを一度に表示できなくなった場合は、*/
/*　　メッセージのリストにスクロールバーを表示させる。*/

/*メッセージリストの<table>を囲む<div>のブロックに対する設定*/
.listBlock {
    width: 90vw;
    min-width: 300px;
    height: calc(100vh - 220px); /*220pxは【タイトル文字～送信フォーム】部分の高さを表す*/
    overflow-y: auto; /*メッセージリストの高さ＞上記のheight　の時、スクロールバーを表示*/
    min-height: 50px; /*heightが負の値になってメッセージリストが表示されなくなるのを防ぐために、heightの最低値を設定*/
    margin: 10px;
}

/*メッセージリストの<table>のための設定*/
.list {
    border-collapse: collapse;
    width: 85vw;
}
