/*renderする<tr>タグ内で行うことを以下に記載*/
/*１．列の枠のみsolidの線にする。個々のデータの枠の線は表示しない。*/
/*２．【送信者名：メッセージ内容】の部分は、ウィンドウの大きさに応じて伸び縮みする。*/
/*３．【送信日時】の部分は、【送信者名：メッセージ内容】よりもフォントサイズを小さくする。*/
/*４．【送信日時】の部分は、列枠の右側に寄せる。*/

/*メッセージの行に対する設定*/
.messageRow {
    border:solid 1px navy;
}

/*メッセージの【送信者：送信内容】部分に対する設定*/
.messageContent {
    border: none;
    min-width: 300px; /*伸び縮みする際の幅の下限値を設定*/
    font-size: 16px;
    font-family: sans-serif;
    word-break: break-all; /*文章が長い場合は、強制的に改行する*/
}

/*メッセージの【送信日時】部分に対する設定*/
.messageDate {
    border: none;
    width: 200px;
    font-size: 12px;
    text-align: center;
    font-family: sans-serif;
}
